<div class="row">
	<div class="col-xl-12">
		<div class="row row-full-height">
			<div class="col-sm-12 col-md-12 col-lg-6">
				<div class="kt-portlet">
					<div class="kt-portlet__head">
						<div class="kt-portlet__head-label">
					<span class="kt-portlet__head-icon kt-hidden">
						<i class="la la-gear"></i>
					</span>
							<h3 class="kt-portlet__head-title">
								Тест API
							</h3>
						</div>
					</div>
					<div class="kt-portlet__body">
						<div class="kt-section">
							<div class="kt-section__info">Действия:</div>
							<div class="kt-section__content kt-section__content--solid">
								<button type="button" (click)="fillCallsAndContactsZadarma()" class="btn btn-primary">Выгрузить список контактов и вызовов из ZADARMA(за этот месяц)</button>
								<button type="button" (click)="fillContactsRoistat()" class="btn btn-primary">Заполнить данные контактов из ROISTAT</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
