.scroll {
	overflow: auto !important;
	height:580px !important;
}

.equal {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}
.equal > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.sound {
	height: 30px;
}
