<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row equal">
		<ng-container *ngIf="userForm.controls.id.value">
			<div class="col-md-6">
				<div class="kt-portlet">
					<div class="kt-portlet__head">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">
								{{this.title}}
							</h3>
						</div>
					</div>
					<!--begin::Form-->
					<form class="kt-form kt-form--label-right">
						<div class="kt-portlet__body">
							<ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
						</div>
						<div class="kt-portlet__foot">
							<div class="kt-form__actions">
								<div class="row">
									<div class="col-2">
									</div>
									<div class="col-10">
										<button type="button" (click)="onSubmit()" class="btn btn-success">Сохранить</button>
										<!--<button type="reset" class="btn btn-secondary">Cancel</button>-->
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<div class="kt-portlet">
					<div class="kt-portlet__head">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">
								Примечания
							</h3>
						</div>
					</div>
					<div class="kt-portlet__body">
						<div class="kt-list-timeline scroll">
							<div href="javascript:" class="kt-list-timeline__items"  *ngFor="let note of notes" >
								<ng-container *ngIf="note.note_type == 2">
									<div class="kt-list-timeline__item">
										<span class="kt-list-timeline__badge kt-list-timeline__badge--success"></span>
										<span class="kt-list-timeline__icon flaticon-plus kt-font-success"></span>
										<span class="kt-list-timeline__text"><b>{{getUserFullName(note)}}</b></span>
										<span class="kt-list-timeline__text">Контакт создан</span>
										<span class="kt-list-timeline__time">{{getTrueDate(note.created_at)}}</span>
									</div>
								</ng-container>
								<ng-container *ngIf="note.note_type == 1">
									<div class="kt-list-timeline__item">
										<span class="kt-list-timeline__badge kt-list-timeline__badge--success"></span>
										<span class="kt-list-timeline__icon flaticon-chat kt-font-success"></span>
										<span class="kt-list-timeline__text"><b>{{getUserFullName(note)}} </b></span>
										<span class="kt-list-timeline__text">{{note.comment}}</span>
										<span class="kt-list-timeline__time">{{getTrueDate(note.created_at)}}</span>
									</div>
								</ng-container>
								<ng-container *ngIf="note.callstart">
									<div class="kt-list-timeline__item">
										<span class="kt-list-timeline__badge kt-list-timeline__badge--success"></span>
										<span class="kt-list-timeline__icon flaticon2-phone kt-font-success"></span>
										<!--<span class="kt-list-timeline__text"><b>{{note.user.first_name + ' ' + note.user.surname}} </b></span>-->
										<span class="kt-list-timeline__text">
											<b>Входящий звонок</b>
										</span>
										<span class="kt-list-timeline__text">
											<a href="javascript:;" (click)="setAudio(note.id)">Прослушать</a>
										</span>


										<span class="kt-list-timeline__time">{{getTrueDate(note.created_at)}}</span>
									</div>
								</ng-container>
							</div>
						</div>

						<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>
						<div>
							<span class="kt-list-timeline__text">
								<audio controls id="sound" class="sound">
									<!--<source src="https://sample-videos.com/audio/mp3/crowd-cheering.mp3"src="name.ogg" type="audio/ogg">-->
									<source type="audio/mpeg">
									<a href="sounds/name.mp3">Скачать name.mp3</a>
									<!--<a href="https://sample-videos.com/audio/mp3/crowd-cheering.mp3">Скачать name.mp3</a>-->
								</audio>
							</span>
						</div>
						<!--begin::Dropdown-->
						<div class="form-group row">
							<div class="col-10">
								<input class="form-control" [(ngModel)]="noteForm.comment" type="text" value="" id="example-text-input">
							</div>
							<!--<label for="example-text-input" class="col-2 col-form-label">Добавить</label>-->
							<button type="button" (click)="addNote()" class="col-2 btn btn-success">Добавить</button>
						</div>
						<!--end::Dropdown-->
					</div>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="!userForm.controls.id.value">
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">
							{{this.title}}
						</h3>
					</div>
				</div>
				<!--begin::Form-->
				<form class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">
						<ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-2">
								</div>
								<div class="col-10">
									<button type="button" (click)="onSubmit()" class="btn btn-success">Сохранить</button>
									<!--<button type="reset" class="btn btn-secondary">Cancel</button>-->
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</ng-container>
	</div>
</div>

<ng-template #formTemplate>
	<form [formGroup]="userForm" >
		<ng-container *ngFor="let control of formConfig(); trackBy:trackByFn">
			<ng-container *ngIf="config.orientation == 'horizontal' && isFieldVisible(control.permission)">
				<div *ngIf="control['type'] == 'text' || control['type'] == 'password'  || control['type'] == 'email'" class="form-group row validated">
					<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
					<div class="col-lg-10">
						<input [type]="control['type']" formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field">
						<div class="invalid-feedback">{{getErrorMessage(control.field)}}</div>
					</div>
				</div>
				<div *ngIf="control['type'] == 'tagsinput'" class="form-group row validated">
					<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
					<div class="col-lg-10">
						<input data-role="tagsinput" [type]="control['type']" formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field">
						<div class="invalid-feedback">{{getErrorMessage(control.field)}}</div>
					</div>
				</div>
				<div *ngIf="control['type'] == 'select'" class="form-group row validated">
					<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
					<div class="col-lg-10">
						<select  formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field" class="form-control">
							<option value="">-- Выберите --</option>
							<option *ngFor="let option of control.options()" [value]="option.id">{{option.name}}</option>
						</select>
						<div class="invalid-feedback">{{getErrorMessage('role')}}</div>
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="config.orientation == 'vertical'"></ng-container>
		</ng-container>
	</form>
</ng-template>
