<div class="kt-portlet">
	<div class="kt-portlet__head kt-portlet__head--lg">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">
				Контакты
			</h3>
		</div>
		<div class="kt-portlet__head-toolbar">
			<div class="kt-portlet__head-wrapper">
				<div class="dropdown dropdown-inline">
					<button routerLink="/contacts/create" type="button" class="btn btn-brand btn-icon-sm" aria-haspopup="true" aria-expanded="false">
						<i class="flaticon2-plus"></i> Добавить контакт
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="kt-portlet__body">
		<div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
			<div class="row align-items-center">
				<div class="col-xl-8 order-2 order-xl-1">
					<div class="row align-items-center">
						<div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
							<div class="kt-input-icon kt-input-icon--left">
								<input type="text" class="form-control" placeholder="Поиск..." id="generalSearch">
								<span class="kt-input-icon__icon kt-input-icon__icon--left">
									<span><i class="la la-search"></i></span>
								</span>
							</div>
						</div>
						<div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
							<div class="kt-input-icon kt-input-icon--left">
								<input  data-role="tagsinput" type="text" [ngModel]="search.tags" class="form-control" id="tagsinput">
								<!--<span class="kt-input-icon__icon kt-input-icon__icon&#45;&#45;left">-->
									<!--<span><i class="la la-search"></i></span>-->
								<!--</span>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="kt-portlet__body kt-portlet__body--fit">
		<div class="my_datatable" id="kt_datatable_contacts"></div>
	</div>
</div>
