@font-face {
	font-family: 'MyWebFont';
	src: url('Poppins-Regular.ttf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	url('Poppins-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
body {
	font-family: sans-serif !important;
}
