<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="kt-portlet">
		<div class="kt-portlet__head">
			<div class="kt-portlet__head-label">
				<h3 class="kt-portlet__head-title">
					Добавление пользователя
				</h3>
			</div>
		</div>
		<!--begin::Form-->
		<form class="kt-form kt-form--label-right">
			<div class="kt-portlet__body">
				<ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
			</div>
			<div class="kt-portlet__foot">
				<div class="kt-form__actions">
					<div class="row">
						<div class="col-2">
						</div>
						<div class="col-10">
							<button type="button" (click)="onSubmit()" class="btn btn-success">Сохранить</button>
							<!--<button type="reset" class="btn btn-secondary">Cancel</button>-->
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>

<ng-template #formTemplate>
	<form [formGroup]="userForm" >
		<ng-container *ngFor="let control of formConfig(); trackBy:trackByFn">
			<ng-container *ngIf="config.orientation == 'horizontal' && isFieldVisible(control.permission)">
				<div *ngIf="control['type'] == 'text' || control['type'] == 'password'  || control['type'] == 'email'" class="form-group row validated">
					<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
					<div class="col-lg-10">
						<input [type]="control['type']" formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field">
						<div class="invalid-feedback">{{getErrorMessage(control.field)}}</div>
					</div>
				</div>
				<div *ngIf="control['type'] == 'select'" class="form-group row validated">
					<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
					<div class="col-lg-10">
						<select  formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field" class="form-control">
							<option value="">-- Выберите --</option>
							<option *ngFor="let option of control.options" value="{{option.value}}">{{option.label}}</option>
						</select>
						<div class="invalid-feedback">{{getErrorMessage('role')}}</div>
					</div>
				</div>
			</ng-container>
		</ng-container>

		<div>
			<div class="form-group  row" id="kt_repeater_1">
				<label class="col-lg-2 col-form-label">Номера:</label>
				<div data-repeater-list="" class="col-lg-10"
					 >
					<ng-container formArrayName="phones"
								  *ngFor="let item of userForm.controls['phones']['controls']; let i = index;">
						<ng-container
							[formGroupName]="i"
						>
							<div data-repeater-item="" class="form-group row align-items-center">
								<div class="col-md-8">
									<div class="kt-form__group--inline">
										<!--<div class="kt-form__label">-->
										<!--<label>Номер:</label>-->
										<!--</div>-->
										<div class="kt-form__control">
											<input type="text" placeholder="Введите номер" formControlName="number" class="form-control">
										</div>
									</div>
									<div class="d-md-none kt-margin-b-10"></div>
								</div>
								<div class="col-md-4">
									<div data-repeater-delete="" class="btn-sm btn btn-danger btn-pill">
											<span>
												<i class="la la-trash-o"></i>
												<span>Удалить</span>
											</span>
									</div>
								</div>
							</div>
						</ng-container>
					</ng-container>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-lg-2 col-form-label"></label>
				<div class="col-lg-4">
					<div data-repeater-create="" (click)="addPhone()" class="btn btn btn-sm btn-brand btn-pill">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>Добавить номер</span>
                                </span>
					</div>
				</div>
			</div>
		</div>
	</form>
</ng-template>
